body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.field {
  border-color: lightgray;
  margin: 0.5rem 0;
  border-width: 1px;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.label {
  color: rgba(30, 30, 30, 0.7);
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
  display: block;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 2px;
}

.dropdown {
  position: fixed;
  inset: 0;
  width: 300px;
  height: 300px;
}

.disabled {
  color: lightgray;
}

.table-spacing tr {
  padding: 0;
  text-align: center;
}

.tr input {
  padding: 0;
  width: 80px;
  color: gray;
}

.editable {
  border: 1px solid lightgray;
  padding: 1rem;
}

.error-text {
  color: red;
}

.box {
  width: 250px;
}

.form {
  width: 100%;
}

.submit {
  margin-left: 2rem;
}
