body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.field {
  border-color: lightgray;
  margin-bottom: 1rem;
  border-width: 1px;
  padding: 0 1rem;
}

.hidden {
  display: none;
}

.label {
  width: 100px;
  border: lightgray;
  border-width: 1px;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
